nav ul {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
nav li {
  justify-content: space-around;
  margin-bottom: 10px;
}
nav a {
  text-decoration: none;
  color: black;
  border-bottom: 1px dotted black;
  padding: 10px;
}
nav a:hover {
  color: blue;
  border-color: blue;
}
nav a:active,
nav a.active {
  color: red;
  border-color: red;
}
