body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
* {
  outline: none;
  box-sizing: border-box;
}
.done {
  text-decoration: line-through;
}

.fakeLink {
  margin: 0;
  padding: 0 0 5px 0;
  border-bottom: 1px dotted black;
  cursor: pointer;
  color: black;
}
.fakeLink:hover {
  border-color: blue;
  color: blue;
}
.fakeLink:active,
.fakeLink.active {
  border-bottom: none;
  border-top: 1px dotted red;
  color: red;
}
