.link {
  margin: 10px 0;
  width: 100%;
  display: block;
}

.link a {
  text-decoration: none;
  padding: 0 10px;
  display: block;
  color: #8f5c2c;
  width: 100%;
  border: 0;
  border-right: 4px solid transparent;
}

.link a:hover,
.link a:active,
.link a.active {
  border-color: #40a4c8;
  color: #40a4c8;
}

@media (min-width: 500px) {
  .link {
    margin: 0 10px;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
  }

  .link a {
    color: #ffffff;
    display: block;
    height: 100%;
    width: auto;
    border: 0;
    line-height: 56px;
    border-bottom: 4px solid transparent;
  }

  .link a:hover,
  .link a:active,
  .link a.active {
    background-color: #8f5c2c;
    color: #ffffff;
  }
}
