* {
  outline: 0;
  box-sizing: border-box;
}

.App {
  margin: 16px;
  text-align: center;
}
.inputField {
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 14px;
  width: 50%;
}
.inputField:focus {
  background-color: #fffff5;
  box-shadow: 0 2px 3px #eee inset;
}
.done {
  text-decoration: line-through;
}
li { text-align: left; }
